$div_height: 300px;

@mixin div_dimensions {
  width: 100%;
  height: $div_height;
}

@mixin e_dimensions { /* e stands for 'element' - elements inside the div*/
  width: 50%;
  height: $div_height;
  /*float: left;*/
}

body {
  background-color: #000;
  margin: 0%;
  padding: 0%;
  
}

p {
 font-family: "Rubik", sans-serif;
  font-size: 19px;
}

.exatreo_div {
  background-color: #FFF;
  @include div_dimensions;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 5%;
  
  .exatreo_p {
    @include e_dimensions;
    text-align: justify;
    padding: 2%;
    border: 2px solid black;
    margin-top: 0%;
    text-align: center;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
  }
  
  .exatreo_img {
    @include e_dimensions; 
    -webkit-filter: grayscale(100%);
    -o-filter:grayscale(100%);
    -moz-filter: grayscale(100%); 
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
